{% include 'partials/base.html' %}
{% load static %}
{% block content %}

    <main class="site-content text-center" id="wrapper">
                
        

        <div class="video-full-bg">

            <!-- Video Highlight -->
            <div class="video-full-bg__highlight"></div>
            <!-- Video Highlight / End -->
        
            <!-- Video Clip -->
            <video poster="{% static 'assets/img/bg-texture-05.jpg' %}" class="video-full-bg__clip video-full-bg__clip--black-white" playsinline autoplay muted loop>
                <source src="{% static 'assets/video/video-clip.webm' %}" type="video/webm">
                <source src="{% static 'assets/video/video-clip.mp4' %}" type="video/mp4">
            </video>
            <!-- Video Clip / End -->
        
            <!-- Video Decoration -->
            <div class="video-full-bg__pattern"></div>
            <!-- Video Decoration / End -->
        
        </div>
        
    </main>
{% endblock content %}