


{% load static %}

<footer id="footer" class="footer text-center">

    <ul class="social-menu social-menu--landing social-menu--landing-glitch">

        <li>
            <a href="" target="_blank">
                
                <i class="fab fa-facebook-square"></i>
                <span class="link-subtitle">Facebook</span>Payyung Akif
            </a>
        </li>

        <li>
            <a href="" target="_blank">
                <i class="fab fa-twitter"></i>
                <span class="link-subtitle">Twitter</span>Payyung Akif
            </a>
        </li>

        <li>
            <a href="" target="_blank">
                <i class="fab fa-twitch"></i>
                <span class="link-subtitle">Twitch</span>Payyung Akif
            </a>
        </li>

        <li>
            <a href="" target="_blank">
                <i class="fab fa-discord"></i>
                <span class="link-subtitle">Discord</span>Payyung Akif
            </a>
        </li>

    </ul>

</footer>








<div class="landing-detail landing-detail--left">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
</div>
<div class="landing-detail-cover landing-detail-cover--left">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
</div>
<div class="landing-detail landing-detail--right">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
</div>
<div class="landing-detail-cover landing-detail-cover--right">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
</div>
<!-- Overlay -->
<div class="site-overlay"></div>


<div class="preloader-overlay">
    <div id="js-preloader" class="preloader">
        <div class="preloader-inner fadeInUp">
            <div class="pong-loader"></div>
            <svg role="img" class="df-icon df-icon--preloader-arcade">
                <use xlink:href="{% static 'assets/img/necromancers.svg#preloader-arcade' %}"/>
            </svg>
        </div>
    </div>
</div>


<!-- The cursor elements -->
<div class="df-custom-cursor-wrap">
    <div id="df-custom-cursor"></div>
</div>